<div class="container-scroller">
	<!-- partial:partials/_navbar.html -->

	<logo-nav></logo-nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<div class="row row-offcanvas row-offcanvas-right">
			<!-- partial:partials/_settings-panel.html -->
			<header-nav></header-nav>
			<profile-nav></profile-nav>
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->

			<!-- partial -->
			<!-- doctor available dates -->
			<div class="content-wrapper" *ngIf="showAvailableTimings">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">Doctor Available Timings</h3>
						<br />
						<div class="row">
							<div class="col-12">
								<div class="row">
								</div>
								<br />
								<div class="table-responsive">

									<table id="order-listing" class="table table-bordered" style="text-align: center">
										<thead class="thead-dark">
											<tr>
												<th>S.no</th>
												<th>Available Timings From</th>
												<th>Available Timings To</th>
												<th>Created On</th>
												<th>Actions </th>
											</tr>
										</thead>
										<tbody>
											<tr class="todo-list" *ngFor="let response of availableData; let i = index">
												<td>{{i+1}}</td>
												<td>{{response.start_slot}}</td>
												<td>{{response.end_slot}}</td>
												<td>{{response.created_on | date}}</td>
												<td>
													<a class="btn btn-outline-primary"
														(click)="editAvailableTimings()">Edit</a>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- doctor available dates -->
			<!-- doctor unavailable dates -->
			<div class="content-wrapper" *ngIf="showUnavailableTimings">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title text-center">Doctor Unavailable Dates</h3>
						<br />
						<div class="row">
							<div class="col-12">
								<div class="row">
								</div>
								<br />
								<div class="table-responsive">

									<table id="order-listing" class="table table-bordered" style="text-align: center">
										<thead class="thead-dark">
											<tr>
												<th>S.no</th>
												<th>Unavailable Dates</th>
												<th>Created On</th>
												<th>Actions </th>
											</tr>
										</thead>
										<tbody>
											<tr class="todo-list"
												*ngFor="let response of unavailableData; let i = index">
												<td>{{i+1}}</td>
												<td>{{response.date}}</td>
												<td>{{response.created_on | date}}</td>
												<td>
													<a class="btn btn-outline-primary chat"
														(click)="deleteunavailableDate(response._id)">Delete</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- doctor unavailable dates -->
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="container-fluid clearfix">
					<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
						<a routerLink="#">Vortex </a>. All rights reserved. </span>
					<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
						<!-- <i class="mdi mdi-heart text-danger"></i> -->
					</span>
				</div>
			</footer>
			<!-- partial -->
		</div>
		<!-- row-offcanvas ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>