<div class="container-scroller">
	<!-- partial:partials/_navbar.html -->

	<logo-nav></logo-nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<div class="row row-offcanvas row-offcanvas-right">
			<!-- partial:partials/_settings-panel.html -->
			<header-nav></header-nav>
			<profile-nav></profile-nav>
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->

			<!-- partial -->
			<div class="content-wrapper">
				<div class="card">
					<div class="card-body">
						<a (click)="addQueSubCat()" id="show" class="btn  btn-maron" style="float: right">Add
							Questionnaire Subcategory </a>
						<h3 class="card-title text-center">Questionnaire Subcategory List</h3>
						<br />
						<div class="row">
							<div class="col-12">
								<div class="row">
									<div class="col-6 search">
										<label>Search : </label> &nbsp;&nbsp;
										<input class="form-control" type="text" name="search" [(ngModel)]="filter">
									</div>
								</div>
								<br />
								<div class="table-responsive">

									<table id="order-listing" class="table table-bordered" style="text-align: center">
										<thead class="thead-dark">
											<tr>
												<th>S.no</th>
												<th>Home Section</th>
												<th>Sub Section Name</th>
												<th>Created On</th>
												<th>Actions </th>
											</tr>
										</thead>
										<tbody>
											<tr class="todo-list"
												*ngFor="let response of QueSubArray| filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
												<td>{{i+1}}</td>
												<td>{{response.category_name}}</td>
												<td>{{response.sub_category_name}}</td>
												<td>{{response.created_on | date}}</td>
												<td>
													<a class="btn btn-outline-primary"
														(click)="editQueSubCat(response.subId,response.sub_category_name,response.category_name,response.catId)">Edit</a>&nbsp;&nbsp;&nbsp;
													<a class="btn btn-outline-primary chat"
														(click)="delete(response.subId)">Delete</a>
												</td>
											</tr>

										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="container-fluid clearfix">
					<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
						<a routerLink="#">Vortex </a>. All rights reserved. </span>
					<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
						<!-- <i class="mdi mdi-heart text-danger"></i> -->
					</span>
				</div>
			</footer>
			<!-- partial -->
		</div>
		<!-- row-offcanvas ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>