<div class="container-scroller">
	<!-- partial:partials/_navbar.html -->
	<logo-nav></logo-nav>
	<!-- partial -->
	<div class="container-fluid page-body-wrapper">
		<div class="row row-offcanvas row-offcanvas-right">
			<!-- partial:partials/_settings-panel.html -->
			<header-nav></header-nav>
			<profile-nav></profile-nav>
			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->

			<!-- partial -->
			<div class="content-wrapper">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title text-center">{{title}}</h4>
								<a (click)="contentmanagement()" id="show" class="btn  btn-maron"
									style="float: right;    margin-top: -45px;">Back</a>
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">Select Home Section Name</label>
										<select [selected]="ContentName" class="form-control " id="exampleSelectPrimary"
											(change)="changeCat($event.target.value)"
											[ngModelOptions]="{standalone: true}" name="ContentName">
											<option value="1" disabled selected hidden> Select Home Section Name
											</option>
											<option *ngFor="let response of subSectionData"
												[selected]="response.content_name==ContentName"
												[value]="response.content_name">
												{{response.content_name}}</option>
										</select>
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">Select Sub Section Name</label>
										<select [selected]="SubContentName" class="form-control "
											id="exampleSelectPrimary" (change)="changeSub($event.target.value)"
											[ngModelOptions]="{standalone: true}" [(ngModel)]="SubContentName"
											name="SubContentName">
											<option value="" disabled selected hidden>Select Sub Section Name</option>
											<option *ngFor="let response of subSecArr"
												[selected]="response.sub_content_name==SubContentName"
												[value]="response.sub_content_name">
												{{response.sub_content_name}}</option>
										</select>
									</div>
									<div class="form-group">
										<label for="exampleInputEmai3">Content Name</label>
										<input type="text" class="form-control" id="exampleInputEmail3"
											aria-describedby="emailHel3p" [(ngModel)]="formData.section_name"
											name="section_name" [ngModelOptions]="{standalone: true}">
									</div>
									<div class="form-group">
										<label for="exampleInputEmai3">Link</label>
										<input type="text" class="form-control" id="exampleInputEmail3"
											aria-describedby="emailHel3p" [(ngModel)]="formData.link" name="link"
											[ngModelOptions]="{standalone: true}">
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">Choose Image</label>
										<input class="form-control" type="file" accept="image/*"
											(change)="changeListener($event)" [(ngModel)]="FinalImage" name="FinalImage"
											[ngModelOptions]="{standalone: true}">
										<div *ngIf="image">
											<img src="{{image}}" alt="" width="100" height="100"
												style="border: solid 1px;margin-top: 2%;">
										</div>
									</div>
									<div class="form-group">
										<img src="{{FinalImage}}" alt="" width="100" height="100"
											style="border: solid 1px;margin-top: 2%;">
									</div>
									<ck-editor [(ngModel)]="ckeditorContent" [ngModelOptions]="{standalone: true}">
									</ck-editor>
									<!-- <button type="submit" class="btn btn-primary vendor-button"
										">Add
										Content
									</button> -->

									<button type="submit" *ngIf="!id" class="btn btn-primary vendor-button"
										(click)="addContect()">Add
										Content</button>
									<button type="submit" *ngIf="id" class="btn btn-primary vendor-button"
										(click)="updateContent()">Edit
										Content</button>
									<!-- <button type="submit" class="btn btn-primary vendor-button">Update
                        category
                      </button> -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="container-fluid clearfix">
					<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
						<a routerLink="#">Vortex</a>. All rights reserved. </span>
					<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">

					</span>
				</div>
			</footer>
			<!-- partial -->
		</div>
		<!-- row-offcanvas ends -->
	</div>
	<!-- page-body-wrapper ends -->
</div>