<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark text-left p-5">
              <h2>Forgot Password </h2>
              <!-- <h4 class="font-weight-light">Hello! let's get started </h4> -->
              <form class="pt-5">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email*"
                    [(ngModel)]="email" />
                  <i class="mdi mdi-email"></i>
                </div>
                <div class="mt-5 buttons">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-block login-btn btn-warning btn-lg font-weight-medium submit"
                        (click)="submit()">Submit</button>
                    </div>
                    <div class="col-md-6">
                      <a class="btn btn-block btn-warning btn-lg login-btn font-weight-medium" routerLink="/">Cancel
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>